<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Package Name="SafeDisk Cleaner"
           Manufacturer="SafeDisk"
           Version="0.3.0"
           UpgradeCode="8B6A3C1E-2F4D-4A7B-9C8E-5D1A2B3C4D5E"
           Language="1033"
           Scope="perMachine"
           InstallerVersion="500">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramMenuFolder" />
    <StandardDirectory Id="DesktopFolder" />

    <Feature Id="MainFeature" Title="SafeDisk Cleaner" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="Shortcuts" />
    </Feature>

    <Component Id="Shortcuts" Directory="INSTALLFOLDER">
      <Shortcut Id="StartMenuShortcut"
                Directory="ProgramMenuFolder"
                Name="SafeDisk Cleaner"
                Target="[#fil_110]"
                WorkingDirectory="INSTALLFOLDER" />
      <Shortcut Id="DesktopShortcut"
                Directory="DesktopFolder"
                Name="SafeDisk Cleaner"
                Target="[#fil_110]"
                WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKCU"
                     Key="Software\SafeDisk\Cleaner"
                     Name="installed"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>

  </Package>
</Wix>
